* {
	 -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
    border: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14PX;
}
html,body {
	width: 100%;
	background: #eee;
}
body {
	font-family: HiraginoSansGB, "Microsoft YaHei",PingFangSC-Regular, Helvetica, "Droid Sans", Arial, sans-serif;
}
input {
	border: none;
	outline: none;
}
ul,li,ol {
	list-style-type: none;
}

.car {
	width: 100%;
	position: relative;
	color: #333;
}
.car-header {
	width: 100%;
	height: 80px;
	line-height: 80px;
	position: relative;
	background: #fff;
}
.car-header h2 {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 16PX;
}
.car .edit {
	position: absolute;
	right: 20px;
	top: 0px;
	font-size: 12PX;
}
.icon-back {
	position: absolute;
	left: 30px;
	top: 0;
}
.icon-back::after {
	content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    transform: rotate(-135deg);
    border-width: 2px 2px 0 0;
    border-color: #999;
    border-style: solid;
}
.car-list {
	margin-top: 10px;
	line-height: 1;
}
.product-title {
	width: 100%;
	height: 80px;
	padding-left: 80px;
	font-size: 14PX;
	background: #fff;
	line-height: 80px;
}
.car-list li {
	border-bottom: 1px solid #eee;
	background: #fafafa;
}
.product-content {
	display: flex; 
	padding: 20px;
	align-items: center
}
.product_icon {
	 display: block;
    width: 32px;
    height: 32px;
    border: 1px solid #999999;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.product-content .on,
.all-choose .on {
    background-repeat: no-repeat;
    background-image: url(../asset/images/check.png);
    background-size: 100% 100%;
    border: none !important;
}
.product-content img {
	width: 140px;
	height: 140px;
	overflow: hidden;
	position: relative;
	margin:0 15px 0 15px;
}
.product-info {
	position: relative;
	height: 140px;
	flex: 1;
}
.product-info h3 {
	font-size: 14PX;
	color: #333;
}
.opeat-btn {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: flex;
	border: 1px solid #ccc;
}
.opeat-btn  input {
	border-left: 1px solid #cccccc;
    border-right: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff; 
}
.opeat-btn span {
	width:40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    color: #333;
    display: inline-block
}
.price {
	font-size: 12PX;
	display: block;
	margin-top: 20px;
}

footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    height: 100px;
    display: flex;
}
.footer-left {
	width: 530px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    display: flex;
    background: #fff;
}
.all-choose {
	display: flex;
	-webkit-align-items: center;
    align-items: center;
}
.all-choose span {
	font-size: 16PX;
	margin-left: 10px;
}
.footer-price {
	display: flex;
	flex-direction: column;
	font-size: 12PX;
}
.footer-price em {
	color: #f42323;
}
.footer_tip {
	text-align: right;
}

.footer-right {
	width: 220px;
    height: 100%;
    background: #f42323;
    line-height: 100px;
    text-align: center;
    color: #fff;
}

.header {
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	padding: 20px;
	display: flex;
	font-size: 14PX;
	z-index: 1000;
}
.search{
	width: 560px;
	height: 55px;
	border-radius: 10px;
	background: #ccc;
	text-align: center;
	line-height: 55px;
	margin-left: 25px;

}
.more {
	line-height: 55px;
	color: #999;
}
.swiperwrap {
	width: 100%;
}
.swiperwrap img {
	width: 100%;
	display: block;
}
.homelist {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px;
}
.listPro {
	width: 49%;
	background: #fff;
	margin-bottom: 20px;
}
.productImg {
	width: 100%;
	height: 345px;
}
.productImg img {
	width: 100%;
	height: 100%;
	display: block;
}
.proTitle {
	padding: 0 10px;
	line-height: 1.4;
	color: #666;
	font-size: 14PX;
}
.proPrice {
	color: #f42323;
	margin-top: 15px;
	margin-left: 10px;
	display: block;
}